.navbar{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 17px 200px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(233, 233, 233);
    position: fixed;
    z-index: 10;
    .nav__items{
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .nav_link{
        a {
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
        letter-spacing: 0.48px;
        text-align: left;
        display: flex;
        align-items: center;
        }
    }
    button{
        background-color: transparent;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;

    }
}